.Footer-wraper {
  width: 100%;
  background-color: rgb(255, 115, 0);
}

.logoFt {
  text-align: center;
  padding: 20px 0;
  display: block;
}

.footer-box-inf {
  margin: 20px 0;
  font-size: 1.1rem;
  font-weight: 600;
}

.footer-box-inf h5 {
  font-size: 1.5rem;
  font-weight: 700;
}

.footer-info {
  display: flex;
  flex-direction: column;
}
